@font-face {
  font-family: 'AngryBirdsText';            /* name you’ll use in CSS */
  src: url('../fonts/AngryBirdsText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AngryBirdsText2';            /* name you’ll use in CSS */
  src: url('../fonts/angrybirds-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  height: 180vh;
  background-image: url(../images/BackgroundDownloadMODERN.png);
  background-repeat: no-repeat; /* don’t tile the image */
  background-position: center;  /* center it */
  background-size: cover;    /* scale it to cover the entire background */  
  font-family: 'AngryBirdsText', sans-serif;
  font-size: 20px;
  user-select: none;       /* prevents text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
main {
    display: flex;
    justify-content: center;
    align-content: center;
}
.InfoBox {
    height: 130vh;
    width: 60vw;
    background-color: rgb(135, 54, 160);
    border-radius: 20px;
    position: relative;
    padding-top: 10%;
    margin-top: 25vh; /* Center the box horizontally with some vertical margin */
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.headerIMG {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    transform: translateY(-76%);
    object-fit: cover;
    z-index: 1;
}
.content {
  z-index: 2;
  padding: 24px;
  color: white;
  font-size: 24px;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  width: 95%;
  margin: 10px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.button:hover {
  transform: scale(1.1)
}
.gallery {
  display: flex;
  align-items: center;
}
.gallery img {
  margin: 4px;
  width: 32%;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.gallery img:hover {
  transform: scale(1.1)
}
footer {
  justify-self: baseline;
  padding: 5px;
  color:rgba(0, 0, 0, 0.473)
}
.back {
  float: left;
  position: fixed;
  transform: scale(1);
  margin: 20px;
  left: 30px;
  transition: transform 0.2s ease-in-out;
}
.back:hover {
  transform: scale(1.1)
}